/* SITE WIDE STYLES */

@font-face {
    font-family: "NotoSans-Regular";
    src: url(/resources/fonts/NotoSans-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NotoSans-Regular, sans-serif;
    background-color: black;
}

p {
    font-size: 14px;
}

p, a, h1, h2, h3, button, li {
    color: #EEEEEE;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #EEEEEE;
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 40px 0px 50px 0px;
}

/* HOMEPAGE */

.section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

button.accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    background-color: #212121;
    border: none;
    border-bottom: 1px solid #616161;
    outline: none;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s linear;;
}

button.accordion::after {
    content: url(/resources/img/plus-lightgrey.svg);
}

button.accordion.is-open::after {
    content: url(/resources/img/minus-lightgrey.svg);
}

button.accordion:hover, button.accordion.is-open {
    background-color: #424242;
}

button.accordion.is-open:hover {
    background-color: #616161;
}

.accordion-content {
    padding: 0px 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    background-color: #424242;
}

.content {
    padding: 15px 0px;
    font-size: 14px;
    background-color: #424242;
}

.content p, .content a, .content ul {
    background-color: #424242;
}



